@import "./../../styles/material-variables.scss";
@import "./../../styles/variables.scss";

.dashboard-page {
  position: fixed;
  top: $toolbar-height;
  left: 0;

  padding-bottom: 70px;
  margin: 0;
  width: 100%;
  height: 100%;

  background-color: $theme-background;
  overflow-y: auto;
}

.add-button {
  $distance: 20px;

  top: auto !important;
  right: $distance !important;
  bottom: $distance !important;
  left: auto !important;
  position: fixed !important;
}

.loading-spinner {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
