<mat-card class="counter-card"
          fxLayout="column"
          fxLayoutAlign="space-between">

  <div class="action-button"
       fxLayout="row">
    <button mat-mini-fab
            (click)="delete(counter)"
            class="delete-button"
            color="warn">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-mini-fab
            class="stats-button"
            (click)=openDetailsDialog()>
      <mat-icon>timeline</mat-icon>
    </button>
  </div>

  <h2 class="mat-h2">{{ counter.name }}</h2>
  <h1 class="mat-h1">{{ counter.totalCount }}</h1>
  <div fxLayout="row"
       fxLayoutAlign="space-between">
    <button mat-raised-button
            (click)="decrement(counter)"
            color="primary">
      -
    </button>
    <button mat-raised-button
            (click)="increment(counter)"
            color="primary">
      +
    </button>
  </div>
</mat-card>
