@import "./../../../styles/material-variables.scss";

$card-dimension: 250px;

.counter-card {
  height: $card-dimension;
  width: $card-dimension;
  border-radius: 5px;
  margin: 30px;
  padding: 20px;
  text-align: center;
}

.delete-button {
  $button-offset: 40px;
  position: relative;
  top: -$button-offset;
  left: $card-dimension - $button-offset;
}
