@import "./../../../styles/material-variables.scss";

$card-dimension: 250px;
$button-offset: 40px;

.counter-card {
  height: $card-dimension;
  width: $card-dimension;
  border-radius: 5px;
  margin: 30px;
  padding: 20px;
  text-align: center;
}

.action-button {
  position: relative;
  top: -$button-offset;
}

.delete-button {
  left: $card-dimension - $button-offset;
}

.stats-button {
  right: $button-offset * 2;
  background-color: $theme-primary-dark;
}
