<mat-card class="counter-card"
          fxLayout="column"
          fxLayoutAlign="space-between">

  <button mat-mini-fab
          class="menu-button"
          [matMenuTriggerFor]="menu"
          matTooltip="Counter menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item
            (click)="openDetailsDialog()">
      <mat-icon>timeline</mat-icon>
      <span>Statistics</span>
    </button>
    <button mat-menu-item
            [disabled]="!canShare()"
            (click)="openCollaboratorDialog()">
      <mat-icon>group</mat-icon>
      <span>Collaborate</span>
    </button>
    <button mat-menu-item
            [disabled]="!canWrite()"
            (click)="openEditNameDialog()">
      <mat-icon>edit</mat-icon>
      <span>Edit name</span>
    </button>
    <button mat-menu-item
            [disabled]="!canDelete()"
            (click)="openConfirmDeleteDialog()">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </mat-menu>

  <h2 class="mat-h2"
      *ngIf="titleVisibility">{{ counter.name }}</h2>
  <h1 class="mat-h1">{{ counter.totalCount }}</h1>
  <div fxLayout="row"
       fxLayoutAlign="space-between">
    <button mat-raised-button
            (click)="decrement(counter)"
            [disabled]="!canWrite()"
            color="primary">
      -
    </button>
    <button mat-raised-button
            (click)="increment(counter)"
            [disabled]="!canWrite()"
            color="primary">
      +
    </button>
  </div>
</mat-card>
