$card-dimension: 250px;
$spacing: 20px;
$shadow-blur: 3px;
$border-radius: 5px;

$blur-expansion: 3;
$transition-length: 0.25s;

.counter-card {
  height: $card-dimension;
  width: $card-dimension;
  border-radius: $border-radius;
  margin: $spacing;
  padding: $spacing;
  text-align: center;
  -moz-box-shadow: 0 0 $shadow-blur #ccc;
  -webkit-box-shadow: 0 0 $shadow-blur #ccc;
  box-shadow: 0 0 $shadow-blur #ccc;
  -webkit-transition: all $transition-length ease;
  -moz-transition: all $transition-length ease;
  -o-transition: all $transition-length ease;
  -ms-transition: all $transition-length ease;
  transition: all $transition-length ease;
}

.counter-card:hover {
  -moz-box-shadow: 0 0 ($shadow-blur * $blur-expansion) #ccc;
  -webkit-box-shadow: 0 0 ($shadow-blur * $blur-expansion) #ccc;
  box-shadow: 0 0 ($shadow-blur * $blur-expansion) #ccc;
}
