@import "~@angular/material/_theming.scss";

$indigo-pink-light-primary: mat-palette($mat-indigo);
$indigo-pink-light-accent: mat-palette($mat-pink);
$indigo-pink-light-theme: mat-light-theme($indigo-pink-light-primary, $indigo-pink-light-accent);

$indigo-pink-dark-primary: mat-palette($mat-indigo);
$indigo-pink-dark-accent: mat-palette($mat-pink);
$indigo-pink-dark-theme: mat-dark-theme($indigo-pink-dark-primary, $indigo-pink-dark-accent);
