@import "./themes/indigo-pink.scss";

$current-theme: $indigo-pink-dark-theme;

$theme-primary-map: map-get($current-theme, primary);
$theme-primary: mat-color($theme-primary-map, default);
$theme-primary-light: mat-color($theme-primary-map, lighter);
$theme-primary-dark: mat-color($theme-primary-map, darker);

$theme-accent-map: map-get($current-theme, accent);
$theme-accent: mat-color($theme-accent-map, default);
$theme-accent-light: mat-color($theme-accent-map, lighter);
$theme-accent-dark: mat-color($theme-accent-map, darker);

$theme-foreground-map: map-get($current-theme, foreground);
$theme-text: map-get($theme-foreground-map, text);
$theme-background-map: map-get($current-theme, background);
$theme-background: map-get($theme-background-map, background);

.current-theme {
  @include angular-material-theme($current-theme)
}
