<div class="auth-page"
     fxLayoutAlign="center center"
     fxLayout="column"
     (keyup.enter)="emailSignUp()">
  <div class="mat-display-3 app-title">Colab Counters</div>
  <mat-card class="auth-card-tall mat-elevation-z12"
            fxLayout="column">
    <button mat-raised-button
            class="action-button"
            color="accent"
            (click)="userService.googleAuth()">
      Continue with Google
    </button>

    <div class="or"
         fxLayout="row">
      <hr class="line" />
      <div class="text">Or</div>
      <hr class="line" />
    </div>

    <mat-form-field>
      <mat-label>Email address</mat-label>
      <input matInput
             [(ngModel)]="emailAddress"
             type="text" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput
             [(ngModel)]="password"
             type="password" />
    </mat-form-field>

    <button mat-raised-button
            class="action-button"
            id="email-sign-up-button"
            (click)="emailSignUp()"
            color="primary">
      Sign up with email
    </button>

    <div class="divider">
      <hr />
    </div>

    <div class="redirect-button"
         fxLayout="row"
         fxLayoutAlign="space-between center">
      <div>Have an account?</div>
      <button mat-stroked-button
              routerLink="/sign-in">Log in</button>
    </div>
  </mat-card>
</div>
