<mat-toolbar class="toolbar"
             color="primary">

  <span>{{ title }}</span>

  <button class="icon"
          [matMenuTriggerFor]="options"
          mat-icon-button>
    <div *ngIf="(userService.user$ | async) as user">
      <div *ngIf="hasUserPhoto(user); else noUserPhoto">
        <img class="google-photo"
             alt="user.displayName"
             [src]="user.photoURL" />
      </div>
      <ng-template #noUserPhoto>
        <mat-icon [inline]="true">account_circle</mat-icon>
      </ng-template>
    </div>
  </button>

  <mat-menu #options="matMenu">
    <button mat-menu-item
            [matMenuTriggerFor]="sortTypes">
      <mat-icon>sort</mat-icon>
      <span>Sort type</span>
    </button>
    <button mat-menu-item
            *ngIf="titleVisibility"
            (click)="setTitleVisibility(false)">
      <mat-icon>visibility_off</mat-icon>
      <span>Hide titles</span>
    </button>
    <button mat-menu-item
            *ngIf="!titleVisibility"
            (click)="setTitleVisibility(true)">
      <mat-icon>visibility</mat-icon>
      <span>Show titles</span>
    </button>
    <button mat-menu-item
            (click)="userService.signOut()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Log out</span>
    </button>
  </mat-menu>

  <mat-menu #sortTypes="matMenu">
    <button mat-menu-item
            (click)="changeCounterSortType(sortTypeEnum.Name)">
      Name
    </button>
    <button mat-menu-item
            (click)="changeCounterSortType(sortTypeEnum.DateCreated)">
      Date created
    </button>
  </mat-menu>

</mat-toolbar>
