<mat-toolbar class="toolbar" color="primary">
  <span>{{ title }}</span>
  <button class="icon" [matMenuTriggerFor]="menu" mat-icon-button>
    <div *ngIf="(userService.user$ | async) as user">
      <div *ngIf="hasUserPhoto(user)">
        <mat-icon [inline]="true">account_circle</mat-icon>
      </div>
      <div *ngIf="!hasUserPhoto(user)">
        <img
          class="google-photo"
          alt="user.displayName"
          [src]="user.photoURL"
        />
      </div>
    </div>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="userService.signOut()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Log out</span>
    </button>
  </mat-menu>
</mat-toolbar>
