<h1 mat-dialog-title>New Counter</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput
           class="counter-name"
           [(ngModel)]="data.newCounterName"
           maxLength="50" />
  </mat-form-field>
</div>
<div mat-dialog-actions
     fxLayout="row"
     fxLayoutAlign="space-between">
  <button mat-button
          (click)="onNoClick()">Cancel</button>
  <button mat-raised-button
          color="primary"
          [mat-dialog-close]="data.newCounterName">
    Create
  </button>
</div>
