@import "./../../../styles/material-variables.scss";

.verify-email-page {
  position: fixed;
  top: 0;
  left: 0;

  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;

  background-color: $theme-primary;
}

.verify-email-card {
  padding: 40px;
  width: 400px;
  height: 400px;
  background-color: white;
  text-align: center;
}

.login-redirect {
  width: 100%;
  height: 60px;
}

.resend-email-button {
  margin-top: 24px;
}
