@import "./../shared-auth.scss";

.verify-email-card {
  height: $card-width + $card-padding;
}

.no-user-card {
  height: 260px !important;
}

.verify-email-buttons {
  position: absolute;
  bottom: $card-padding;
}

.resend-button {
  width: 100%;
}
