<div class="auth-page"
     fxLayoutAlign="center center"
     fxLayout="column">
  <div class="mat-display-3 app-title">Colab Counters</div>
  <mat-card class="auth-card-short"
            [ngClass]="{
              'verify-email-card': isSendingVerificationEmail(),
              'no-user-card': !isSendingVerificationEmail()
            }"
            fxLayout="column">
    <div class="mat-h1">Thank you for registering!</div>

    <div *ngIf="isSendingVerificationEmail()">
      <div class="mat-h3">
        A confirmation email has been sent to <strong>{{ userService.currentUser.emailAddress }}</strong>.
      </div>
      <div class="mat-h3">
        Please check your email and click on the provided link to verify your
        email address.
      </div>
    </div>

    <div class="verify-email-buttons">
      <button mat-raised-button
              class="action-button"
              routerLink="/sign-in"
              color="primary">
        Return to login
      </button>

      <button mat-flat-button
              class="return-button resend-button"
              (click)="resendVerificationEmail()"
              color="accent">
        Resend verification email
      </button>
    </div>

  </mat-card>
</div>
