<div class="reset-password-page"
     fxLayoutAlign="center center">
  <mat-card class="reset-password-card"
            fxLayout="column">

    <div class="mat-h1">
      Reset password
    </div>

    <div class="mat-h3">
      Please enter your email address to request a password reset.
    </div>

    <mat-form-field>
      <mat-label>Email Address</mat-label>
      <input matInput
             [(ngModel)]="emailAddress"
             type="text" />
    </mat-form-field>

    <button mat-raised-button
            class="reset-password-button"
            (click)="resetPassword()"
            color="primary">
      Reset password
    </button>

    <button mat-flat-button
            class="login-redirect"
            routerLink="/sign-in"
            color="accent">
      Return to login
    </button>

  </mat-card>
</div>
