@import "./../../../../styles/material-variables.scss";
@import "./../../../../styles/typography.scss";

::ng-deep .ngx-charts {
  text {
    fill: $theme-text !important;
    font-family: "Roboto" !important;
  }
}

.title {
  text-align: center;
}

.my-flex-mat-card {
    display: flex !important;
    flex-direction: column !important;
    overflow: visible !important;
}  
